@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<center>
    <video width="640" height="480" controls>
      <source src="Prezident-maktabidagi-sharoit-qanday.mp4" type="video/mp4">
    </video> 
</center>
<center>
    <video width="640" height="480" controls>
      <source src="Markaziy-studiya-I-Maktablar-reytingi-natijalari-haqida.mp4" type="video/mp4">
    </video> 
</center>



